
body{
    background-color: beige;
}

p{
    margin: 0px;
    font-family: 'Jua', sans-serif;
    font-size: 22px;
}

.newButton{
    margin: 10px 5px 5px 0px ;
    justify-content: center;
}

#gifDiv{
    /* position: absolute; */
    padding: 5px;
    display: block;
    /* display: flex;
    flex-wrap: wrap; */
    
    /* justify-content: space-around; */
}
.gifImages{
    float: left;
    height: 300px;
    width: 300px;
    /* margin: auto; */
    padding: 15px;
}

.input{
    justify-content: center;   
    padding: 35px 0px 25px 0px; 
}

.container{
    margin-left: 100px;
    margin-right: 100px;
    display: grid;
    /* flex-flow: wrap; */
}
#topic-label{
    margin: 15px 15px 0px 0px;
}
.eachGif{
    float: left;
    background-color: black;
    color: aliceblue;
    font-family: 'Jua', sans-serif;

}